.header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #29720c;
    flex-flow: column;
}

a:link {
    color: #29720c;
}

a:visited {
    color: rgb(59, 167, 131);
}

.intro {
    background-color: mistyrose;
    border: 2px solid black;
    border-radius: 20px;
}

h1 {
    background-color: rgb(221, 240, 226);
    color: rgb(59, 167, 131);
    font-family: cursive;
}

.menu {
    background-color: rgb(221, 240, 226);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: cursive;
    font-weight: 400;
    color: black;
}

body {
    font-family: cursive;
    background-color: rgb(234, 134, 243);
    font-size: medium;
    margin: 0px;
}

.grid {
    border: 2px solid #000000;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.origami {
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 500px;
    padding: 50px;
    background-color: mistyrose;
    opacity: 1;
    font-size: 15px;
    font-weight: bold;
}

.origami:hover {
    opacity: 0.5;
}